.hero {
    &-text-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    }

    &-new {
        display: flex;
        align-items: center;
        padding: 5px 15px 5px 5px;
        background-color: rgba($color-white, .1);
        
        border-radius: 99rem;

        span {
            display: inline-block;
            font-weight: $wight-semiBold;
            text-transform: uppercase;
            padding: 4px 10px;
            line-height: 1.8rem;
            letter-spacing: 1.5px;
            background-color: $color-primary;
            border-radius: 99rem;
            margin-right: 1.5rem;
            opacity: 1;
        }
    }
}