.section-hero {
    padding: 5rem 0 19rem 0;
    background-image: url('./public/image-hero.png');
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: -1;
    background-position: 90% 60%;

    @media screen and (min-width:112.5em ) {
        background-size: 45%;
    }
}

.hero {
    display: flex;
    &-text-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    &-new {
        display: flex;
        align-items: center;
        padding: 5px 15px 5px 5px;
        background-color: rgba($color-white, .1);
        
        border-radius: 99rem;

        span {
            display: inline-block;
            font-weight: $wight-semiBold;
            text-transform: uppercase;
            padding: 4px 10px;
            line-height: 1.8rem;
            letter-spacing: 1.5px;
            background-color: $color-primary;
            border-radius: 99rem;
            margin-right: 1.5rem;
            opacity: 1;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.8rem;
            letter-spacing: .5px;
            opacity: .8;
        }
    }

    &-btn {
        display: flex;
        gap: 30px;
    }

    &-img {
        position: absolute;
        z-index: -1;
        top: -60%;
        left: -40rem;
        object-fit: cover;
        width: 59.9rem;

    }

    &-training-statistic {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-self: center;
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1.3rem;
        letter-spacing: 1px;
        transform: translateY(-8rem);
        position: relative;
        
        &__time,
        &__calories {
            padding: 2rem 3rem;
            border-radius: 2rem;
            background-color: rgba($color-white, .1);
            display: flex;
            flex-direction: column;
            gap: .5rem
        }

        &__time span,
        &__calories span {
            font-size: 4rem;
            line-height: 4rem;
            
        }

        &__time span{
            color: $color-yellow;
        }

        &__calories span{
            color: $color-red;
        }
    }   


}
