* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background: rgba($color-primary, $alpha: .5); /* Safari */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

    @media screen and (max-width: $bp-large) {
        font-size: 56.25%;
    }

    @media screen and (max-width: $bp-medium) {
        font-size: 50%;
    }
}

body {
    background-color: $color-black;
    padding: 0 3.2rem;

}

.container {
    max-width: 120rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.block {
    display: block;

    @media screen and (max-width: $bp-small) {
        display: inline;
    }
}


