.u-margin-bottom-small { margin-bottom: 1rem;}
.u-margin-bottom-small--2 { margin-bottom: 2rem;}

.u-margin-bottom-medium { margin-bottom: 5rem;}

.u-margin-bottom-section--10 { margin-bottom: 10rem;}
.u-margin-bottom-section--15 { margin-bottom: 15rem;}
.u-margin-bottom-section--20 { margin-bottom: 20rem;}

.u-margin-top-small--2 { margin-top: 2rem;}
.u-margin-left-small--2 { margin-left: 2rem;}