//color
$color-white:#fff;
$color-black: #000;

$color-primary: #25AB75;
$color-primary-light: #7ccdac;
$color-primary-dark: #1e895e;

$color-yellow: #FFE642;
$color-red: #FB1351;

//screen

$bp-largest: 75em;   // 1200px
$bp-large: 65.625em;   // 1050px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

// weight
$wight-regular: 400;
$wight-medium: 500;
$wight-semiBold: 600;
